

#navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    background-color: lightgray;
    padding-top: 15px;
    
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 35%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

}
header {

}